{% extends 'signum/base.html' %}
{%load static%}

{% block content %} 
<section id="site-content-wrapper">
<section>
    <div class="windesk-main-wrapper">
        <img class="main-image" src="{%static 'images/windesk-main.png'%}" alt="Büyüyen işletmeler için Windesk İşyeri ve Tesis Yönetim Teknolojisi">
        <div class="text-wrapper"><p>Büyüyen işletmeler için <strong>Windesk</strong> İşyeri ve Tesis Yönetim Teknolojisi</p></div>	
    </div>
    </section>
    
    <section>
    <div class="windesk-platform-summary-text-wrapper">
    <div class="container">    
    <div class="content-wrapper">
        <h1 class="text-center">Windesk Platformu</h1>
        <div class="title-bottom-line-wrapper">
        <div class="title-bottom-line"></div>
        </div>
        <p class="text-center">Entegre Tesis Yönetimi, bir tesisin yönetimi için gerekli olan operasyonel süreçlerin tek bir platformdan yönetilmesidir. Bir anlamda varlık, alan, insan, süreç ve teknolojiyi birleştirerek tesisin
            işlevselliğini etkin yönetmek için birden fazla disiplinin operasyonel seviyede yönetilmesini sağlayançözüm platformudur.
        </p>
        <a href="#" class="detail-link btn btn-default">devamı için</a>
    </div>
    </div><!--container bitti-->
    </div>
    </section>
    
    <section class="text-image-blocks-wrapper">

        <section class="block-area left-text">
            <div class="mask-animation wipe-in-left ken-burns">
            <img class="block-area-image" src="{% static 'images/work-summary1.jpg'%}" alt="İş yeri ve tesis deneyimi">
            </div>
            <div class="text-image-block-area">
                <h2>İş yeri ve tesis deneyimlerini merkeze alan Açık Yapı ile tanışın</h2>
                <p>Entegre operasyonel deneyim yönetim sisteminiz, iş yeri ve tesis deneyimlerini merkeze alarak çalışanlarınızı, alanlarınızı, varlıklarınızı ve operasyonel hareketlere ait verilerinizi sorunsuz bir ortam oluşturmak için birbirine bağlar. İş Zekası, Rfıd, IoT sensörler, optimizasyon yapay zeka gibi yükselen trendlerin gücünden yararlanmak için yeni teknolojilere açık ve bütünleşik uygulama platformunu kullanın.</p>
            </div>
            <div class="bothclear"></div>
        </section>
        
        <section class="block-area right-text">
            <div class="mask-animation wipe-in-right ken-burns">
            <img class="block-area-image" src="{% static 'images/work-summary2.jpg'%}" alt="Saha hizmetlerinizin yönetimi">
            </div>
            <div class="text-image-block-area">
                <h2>Saha hizmetlerinizin yönetimini basitleştirin</h2>
                <p>Plan dışı veya planlı hizmetlerin (teknik bakım ve destek) mobil iş emir yönetimi, mobil barkod tarama , personel lokasyon izleme ve daha fazlasıyla varlıklarınızı ve tesisinizi etkin bir şekilde yönetin. İşyeri ve tesis saha deneyimlerinin taşındığı mobil uygulama ortamından, dinamik iş emri atamaları,  personel iş performansı, malzeme ve efor takibi özellik setleriyle saha hizmetlerinizin yönetimini basitleştirin. İş emri ve bakım planlamasıyla kaynakların tam olarak nereye gittiğini görün.</p>
            </div>
            <div class="bothclear"></div>
        </section>
        
        <section class="block-area left-text">
            <div class="mask-animation wipe-in-left ken-burns">
            <img class="block-area-image" src="{% static 'images/work-summary3.jpg'%}" alt="analiz raporlaması">
            </div>
            <div class="text-image-block-area">
                <h2>Güçlük ve önem derecesi yüksek projeleri yönetmek için analiz raporlaması yapın</h2>
                <p>Günlük olarak veya uzun vadeli planlama için kritik kararlar almak için ihtiyaç duyduğunuz tüm verileri tek bir merkezi platformda toplayın. Operasyonlarınızın performansı hakkında anında görünürlük sağlayan özel panolar ve hazır raporlar oluşturun. Varlıklarınızın ve gerçekleşen hizmetlerin nasıl performans gösterdiğine ilişkin derinlemesine incelemelerle operasyonel verimsizlikleri keşfedin.</p>
            </div>
            <div class="bothclear"></div>
        </section>
        
        <section class="block-area right-text">
            <div class="mask-animation wipe-in-right ken-burns">
            <img class="block-area-image" src="{% static 'images/work-summary4.jpg'%}" alt="Saha hizmetlerinizin yönetimi">
            </div>
            <div class="text-image-block-area">
                <h2>Teknik Bakım stratejilerinizi iyileştiren varlık-bakım süreç performansları hakkında akıllı raporlar edinin</h2>
                <p>Kurumsal varlık, bakım, iş emri, depo malzeme gibi uygulama modüllerinin birlikte kullanımı; maliyetlerinizi düşürürken varlıklarınıza yönelik operasyonlarınızı optimize etmenize, çalışma süresini artırmanıza ve ekipmanınızın ömrünü uzatmanıza yardımcı olmak için tasarlanmış bir çözümdür. Kritik varlıklarınız  ve/veya çevre koşulları hakkında değerli verileri toplamak ve izlemek için nesnelerin interneti (IoT) bağlantılı teknolojilerinden yararlanın. </p>
            </div>
            <div class="bothclear"></div>
        </section> 
        
        </section><!--text-image-blocks-wrapper bitti-->
    
    <section id="works-in-progress-wrapper">
    <div class="works-main-wrapper">
    <h2 class="title text-center">Devam Eden Bazı Projelerimiz</h2>
    <div class="title-bottom-line-wrapper">
        <div class="title-bottom-line"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="content-wrapper mask-animation ken-burns">
                <img src="{%static 'images/devam-eden1.jpg'%}"/>
                <div class="text-wrapper">
                <h3 >Galataport İstanbul</h3>
                <p>İstanbul’un Ataşehir ilçesinde geliştirilmekte olan İstanbul Finans Merkezi (İFM) projesi, dünyanın önde gelen finans merkezlerinden birisi olacak şekilde tasarlanmıştır. Şehrin simgesi haline gelecek bu proje sayesinde, New York, Londra ve Dubai’deki finans merkezlerinden daha büyük bir finans... İstanbul’un Ataşehir ilçesinde geliştirilmekte olan İstanbul Finans Merkezi (İFM) projesi, dünyanın önde gelen finans merkezlerinden birisi olacak şekilde tasarlanmıştır. Şehrin simgesi haline gelecek bu proje sayesinde, New York, Londra ve Dubai’deki finans merkezlerinden daha büyük bir finans...</p>
                </div><!-- text-wrapper BİTTİ-->
                <a href="#" class="detail-link btn btn-default">devamı için</a>
            </div><!-- content-wrapper BİTTİ-->
            </div><!-- 1. KOLON BİTTİ-->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-wrapper mask-animation ken-burns">
                <img src="{%static 'images/devam-eden2.jpg'%}"/>
                <div class="text-wrapper">
                <h3 >Ankara Etlik Şehir Hastanesi </h3>
                <p>Yaklaşık 3.600 yatak kapasiteli ve 1.202.000 m2 kapalı alana sahip olan Ankara Etlik Şehir Hastanesinde Windesk Merkezi Yardım Masası ve Entegre Tesis Yönetim Platfomu kullanılacaktır. Şehir hastaneleri işletme modeline uygun olarak 19 adet farklı (soft ve hard facilities) sözleşmeye ait...</p>
                </div><!-- text-wrapper BİTTİ-->
                <a href="#" class="detail-link btn btn-default">devamı için</a>
            </div><!-- content-wrapper BİTTİ-->
            </div><!-- 1. KOLON BİTTİ-->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-wrapper mask-animation ken-burns">
                <img src="{%static 'images/devam-eden3.jpg'%}"/>
                <div class="text-wrapper">
                <h3 >İstanbul Finans Merkezi</h3>
                <p>İstanbul’un Ataşehir ilçesinde geliştirilmekte olan İstanbul Finans Merkezi (İFM) projesi, dünyanın önde gelen finans merkezlerinden birisi olacak şekilde tasarlanmıştır. Şehrin simgesi haline gelecek bu proje sayesinde, New York, Londra ve Dubai’deki finans merkezlerinden daha büyük bir finans...</p>
                </div><!-- text-wrapper BİTTİ-->
                <a href="#" class="detail-link btn btn-default">devamı için</a>
            </div><!-- content-wrapper BİTTİ-->
            </div><!-- 1. KOLON BİTTİ-->

    </div>
    </div>
    </section><!--works-in-progress-wrapper bitti-->
    
    
    <section id="news-summary">
    <div class="news-main-wrapper">
    <h2 class="title text-center">Haber ve Duyurular</h2>
    <div class="title-bottom-line-wrapper">
        <div class="title-bottom-line"></div>
    </div>    
    <div class="row">
   
        {%if announcements%}
       {%for announcement in announcements%}


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="news-block">
                <a href="/announcement/{{announcement.id}}">
                <figure><img src="{{MEDIA_URL}}{{announcement.file_link}}"/></figure>
                <div class="text-wrapper">
                    <h3>{{announcement.header}}</h3>
                    <p>{{announcement.text}}</p>
                    <span>{{announcement.publish_date}}</span>
                </div><!-- text-wrapper BİTTİ-->
            </a>
            </div><!-- content-wrapper BİTTİ-->
            </div><!-- 1. KOLON BİTTİ-->



       {% endfor %}
     {%endif%}    

    
    </div><!--row bitti-->
    </div><!--news-main-wrapper bitti-->    
    </section><!--news-summary bitti-->
    
    
    
    <section id="hyperlinks-wrapper">
        <h2 class="title text-center">Referanslar</h2>
        <div class="title-bottom-line-wrapper">
            <div class="title-bottom-line"></div>
        </div>
    
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
    
        <div id="hyperlinks-slider" class="swiper-container">
        <div class="swiper-wrapper">
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink1"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink2"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink3"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink4"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink5"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink6"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink7"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink8"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink9"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink10"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink11"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink12"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink13"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink14"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink15"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink16"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink17"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink18"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink19"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink20"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink21"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink22"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink23"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink24"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink25"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink26"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink27"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink28"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink29"></a>
        </div>
    
        <div class="swiper-slide">
        <a class="hyperlink hyperlink30"></a>
        </div>
    
    
    
        </div><!--swiper-wrapper bitti-->
    
        <div class="swiper-button-next2"></div>
        <div class="swiper-button-prev2"></div>
        <div class="swiper-scrollbar2"></div>
        </div><!--hyperlinks-slider bitti-->
    
    
        </div><!-- KOLON (haberleri kapsayan) BİTTİ-->
        </div><!-- ROW (hyperlinks kapsayan) BİTTİ-->
    </section><!-- hyperlinks-wrapper BİTTİ-->
    
    <section id="contact-area-wrapper">
    <div class="contact-area">  
    <div class="row">
    <div class="col-md-5 col-sm-3 col-xs-12">
            <div class="contact-telephone">
            <p>Daha fazla bilgi için<br> Windesk ekibiyle letişime geçin</p>
            <a href="tel:+903124912813">0312 <br>491 28 13</a>
            </div>
    </div>
    <div class="col-md-7 col-sm-9 col-xs-12">
        <div class="widget contact-form">
            <h4 class="widget-head">Bilgi için bizimle iletişime geçin</h4>
            <div class="widget-content">     
            <form id="widget-form" class="widget-form" name="widget-form" action="javascript:void(0);" method="post">
            
            <div class="form-group">
            <label class="widget-form-label" id="name">İsim</label>
            <input name="name" type="text" class="form-control" id="name" tabindex="1" for="name">
            </div>
    
            <div class="form-group">
                <label class="widget-form-label" id="name">Soyisim</label>
                <input name="name" type="text" class="form-control" id="surname" tabindex="2" for="surname">
            </div>
    
            <div class="form-group">
                <label class="widget-form-label" id="telephone">Telefon Numarası</label>
                <input name="telephone" type="text" class="form-control" id="telephone" tabindex="3"  for="telephone">
            </div>
    
            <div class="form-group">
                <label class="widget-form-label" id="name">Şirket İsmi</label>
                <input name="name" type="text" class="form-control" id="companyname" tabindex="4" for="companyname">
            </div>
            
            <div class="form-group">
            <label class="widget-form-label" id="email">Şirket Email:</label>
            <input name="email" type="text" class="form-control" id="companyemail" tabindex="5" for="companyemail">
            </div>
    
            <p class="contact-subtitle">Windesk Ekibi olarak, sizinle iletişim kurabilmemiz için iletişim bilgilerinizi eksiksiz olarak doldurmanız önemlidir.  Bu abonelikten istediğiniz zaman çıkabilirsiniz. Abonelikten nasıl çıkılacağına ilişkin bilgilerin yanı sıra gizlilik uygulamalarımız ve gizliliğinizi koruma taahhüdümüz için lütfen Gizlilik Politikamızı inceleyin.</p>
            
            <div class="form-group">
            <input name="Button" type="button" class="btn btn-success" tabindex="6" id="submit" value="Gönder">
            </div>
            
            </form>
            
            <div id="com-success-error"></div>
            </div><!--widget-content(contact-form) bitti-->
            </div><!--widget(contact-form) bitti-->    
    </div>
    </div>
    </div> <!--contact-area BİTTİ--> 
    </section><!--contact-area-wrapper BİTTİ-->
   </section><!--site-content-wrapper bitti-->
{% endblock %}
    
    
    

