<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Performans Tabanlı Hizmet Sözleşmeleri Yönetimi</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css" />

</head>
<body>
<div id="header-wrapper">
<nav id="header-menu" class="navbar navbar-default">
<div class="container">

<div class="header-menu-wrapper">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Windesk</a>
    </div><!--navbar-header bitti-->

    <div class="collapse navbar-collapse" id="collapse-navbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="windesk-platformu.html">Windesk Platformu</a></li>
        <li class="dropdown"><a href="cozumler.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Çözümler<span class="caret"></span></a>
        
        <ul class="dropdown-menu" role="menu">
        
        <div class="dropdown-content-wrapper">
        
        <div class="row">
        
        <div class="col-md-4 hidden-xs">
        <span class="tanitim">Windesk, tesislerin yönetsel faaliyetlerine, içinde yaşayan paydaşların verimliliğine ve etkinliğine odaklanan profesyonel bir yazılım platformudur. 
            Postcorona virüs süreciyle başlayan değişim rüzgarı tesis alanlarda çalışan insan sayısı, alan planlaması, enerji ve iklimlendirme sistemlerinin etkin yönetimi, varlıkların yaşam döngüsü, hizmetlerin değişime uygun iyileştirilmesi, sensör alt yapısının hedeflere uygun tasarlanması 
            gibi bütünleşik otomasyon sistemleri tesis İşletmenleri için başarı anahtarı olacaktır. </span>
        
        </div><!--1. Kolon bitti-->
        
        <div class="col-md-3 col-sm-4 col-xs-12">
        
        <li><a href="merkezi-servis-masasi.html">Merkezi Servis Masası</a></li>
        
        <li><a href="performans-tabanli-hizmet-sozlesme-yonetimi.html">Performans Tabanlı Hizmet Sözleşme Yönetimi</a></li>

        <li><a href="bina-operasyonlari-ve-teknik-bakim-yonetimi.html">Bina Operasyonları ve Teknik Bakım Yönetimi</a></li>

        <li><a href="avm-yonetimi.html">AVM Yönetimi</a></li>

        <li>
            <a href="entegre-tesis-yonetimi.html">Entegre Tesis Yönetim Platformu</a>
            <ul>
                <li><a class="sub-list-item" href="alan-yonetimi.html"><i></i>Alan Yönetimi</a></li>
                <li><a class="sub-list-item" href="varlik-yonetimi.html"><i></i>Varlık Yönetimi</a></li>
                <li><a class="sub-list-item" href="bakim-onarim-yonetimi.html"><i></i>Bakım ve Onarım Yönetimi</a></li>
                <li><a class="sub-list-item" href="hizmet-yonetimi.html"><i></i>Hizmet Yönetimi</a></li>
            </ul>
        </li>

        
        
        </div><!--2. Kolon bitti-->
        
        <div class="col-md-3 col-sm-4 col-xs-12">
        
        <li>
            <ul>
                <li><a class="sub-list-item" href="personel-yonetimi.html"><i></i>Personel Yönetimi</a></li>
                <li><a class="sub-list-item" href="is-emri-yonetimi.html"><i></i>İş Emri Yönetimi</a></li>
                <li><a class="sub-list-item" href="sozlesme-yonetimi.html"><i></i>Sözleşme Yönetimi</a></li>
                <li><a class="sub-list-item" href="depo-malzeme-yonetimi.html"><i></i>Depo - Malzeme Yönetimi</a></li>
                <li><a class="sub-list-item" href="hakedis-yonetimi.html"><i></i>Hakediş Yönetimi</a></li>
                <li><a class="sub-list-item" href="guvenlik-yonetimi.html"><i></i>Güvenlik Yönetimi</a></li>
                <li><a class="sub-list-item" href="denetim-yonetimi.html"><i></i>Denetim Yönetimi</a></li>
                <li><a class="sub-list-item" href="enerji-yonetimi.html"><i></i>Enerji Yönetimi</a></li>
                <li><a class="sub-list-item" href="raporlama.html"><i></i>Raporlama</a></li>
                <li><a class="sub-list-item" href="merkezi-yardim-masasi.html"><i></i>Merkezi Yardım Masası</a></li>
            </ul>
        </li>
        
        </div><!--3. Kolon bitti-->
        
        <div class="col-md-2 col-sm-4 col-xs-12">
        
        <li><a href="yellowfin-bi-platform.html">Yellowfin Bl Platform</a></li>
        
        <li><a href="hazir-entegrasyonlar.html">Hazır Entegrasyonlar</a></li>
        
        </div><!--4. Kolon bitti-->
        
        </div><!--ROW bitti-->
        
        </div><!--dropdown-content-wrapper bitti-->
        <div class="dropdown-content-wrapper">
        <div class="sub-content">
        <a href="#"></a>
        <div class="clear"></div>
        </div><!--sub-content bitti-->  
        </div><!--dropdown-content-wrapper bitti--> 
        </ul>
        </li>
        <li><a href="egilimler.html">Eğilimler</a></li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projeler<span class="caret"></span></a>
        
            <ul class="dropdown-menu" role="menu">
            
            <div class="dropdown-content-wrapper">
            
            <div class="row">
            
            <div class="col-md-2 hidden-xs">
            <span class="tanitim">Signumtte bugüne kadar Windesk Entegre Tesis Yönetimi Çözümü ile bir çok başarılı projeye imza atmıştır,  Devam etmekte olan güncel projelerimizden bir kaçını sizlerle paylaşmak istedik.</span>
            
            </div><!--1. Kolon bitti-->
            
            <div class="col-md-10 col-xs-12">
            
            <li><a class="projects-link"  href="projeler.html"><img src="images/proje1.png"><span>Galataport İstanbul</span></a></li>
            <li><a class="projects-link" href="projeler.html"><img src="images/proje2.png"><span>Ankara Etlik Şehir Hastanesi</span></a></li>
            <li><a class="projects-link" href="projeler.html"><img src="images/proje3.png"><span>Rönesans Sağlık Hizmetleri</span></a></li>
            <li><a class="projects-link" href="projeler.html"><img src="images/proje4.png"><span>İstanbul Finans Merkezi</span></a></li>
            <li><a class="projects-link" href="projeler.html"><img src="images/proje5.png"><span>Selway Outlet</span></a></li>
            <div class="clear"></div>
            </div><!--2. Kolon bitti-->
            
            </div><!--ROW bitti-->
            
            </div><!--dropdown-content-wrapper bitti-->
            <div class="dropdown-content-wrapper">
            <div class="sub-content">
            <a href="#"></a>
            <div class="clear"></div>
            </div><!--sub-content bitti-->  
            </div><!--dropdown-content-wrapper bitti--> 
            </ul>
            </li>




        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bizi Tanıyın<span class="caret"></span></a>
        
            <ul class="dropdown-menu" role="menu">
            
            <div class="dropdown-content-wrapper">
            
            <div class="row">
            
            <div class="col-md-4 hidden-xs">
            <span class="tanitim">Signum tte  2009 yılından itibaren iş uygulamaları yatırımlarımızı kendimize ait WinDesk Platform ortamında gerçekleştirerek  ilerlemekteyiz.</span>
            
            </div><!--1. Kolon bitti-->
            
            <div class="col-md-3 col-sm-4 col-xs-12">
            
            <li><a href="hakkimizda.html">Hakkımızda</a></li>
            
            <li><a href="haberler-ve-duyurular.html">Haber ve Duyurular</a></li>
    
            <li><a href="kariyer.html">Signumtte’de Kariyer</a></li>

            </div><!--2. Kolon bitti-->
            
            </div><!--ROW bitti-->
            
            </div><!--dropdown-content-wrapper bitti-->
            <div class="dropdown-content-wrapper">
            <div class="sub-content">
            <a href="#"></a>
            <div class="clear"></div>
            </div><!--sub-content bitti-->  
            </div><!--dropdown-content-wrapper bitti--> 
            </ul>
            </li>
        <li class="last-child"><a href="bilgi-isteyin.html">Bilgi İsteyin</a></li>
        </ul>
        
</div><!--navbar-collapse bitti-->
</div><!--header-menu-wrapper bitti-->
</div><!--container bitti-->
</nav>
</div><!--header-wrapper bitti-->

<section id="site-content-wrapper">

<section id="top-content-wrapper">
<div class="top-content-type1">
    <img class="main-image" src="images/performan-tabanli-sozlesme-yonetimi-main.jpg" alt="Performans Tabanlı Hizmet Sözleşmeleri Yönetimi">
    <div class="title-wrapper">
        <div class="container">
            <p>Çözümler<br><strong>Performans Tabanlı Hizmet Sözleşmeleri Yönetimi</strong> </p>
        </div>
    </div>
    <div class="text-wrapper">
        <h2>Performans Tabanlı Hizmet Sözleşmeleri Yönetimi</h2>
        <p>PPP Şehir Hastanelerinde Ek-14, Ek18 ve Ek-13 işletme hizmet modeline uygun Merkezi Yardım Masası ve Tesis Yönetimi için hazır mahal, varlık, personel ve SLA servislerinin performans tabanlı tüm Hizmet Sağlayıcıları ve alt tedarikçilerine ait işletme  yönetim sistemine ait gerçek zamanlı uygulamaya sahip olunur.</p>
    </div>	
</div>
</section><!--top-content-wrapper bitti-->

<section id="content-text-wrapper">
<div class="container">
<div class="content-text">
<p class="text-type1">Hizmet sağlayıcı saha personeli ve hastane personeli için Android ve IOS native uygulamalar saha operasyonları mobilize edilir, sahadaki her bir vakaya ait görevler SLA performans metriklerine uygun izlenir, analiz edilir ve ölçülür. Sistem her ay hizmet dönemi için hazır bir hakediş ve kesinti sistemini mutabakat onay süreçleri kullanılarak otomatik olarak işletmen ve idarenin kullanımı için hazırlar. Tüm operayona ait farklı hizmet kategorileri SLA performans metriklerine uygun denetim sistemi ile güvenceye alınır, uygunsuzluklar için vaka takibi ve denetim raporları ile denetim süreci desteklenir.</p>
<h2>Faydalar</h2>
<ul>
    <li>Son kullanıcı seviyesinden sorun ve talepleri yapmak, yönlendirmek ve izlemek için akıllı algoritmalar ile merkezi servis masası alt yapısı sağlanır</li>
    <li>Saha hizmetlerinin mobil yönetimi sağlanır</li>
    <li>Hizmet sağlayıcılarına ait personelin hizmet performansları izlenir ve raporlanır</li>
    <li>Farklı ve hazır hizmet kategori protokol alt yapısının etkin kullanımı yapılır</li>
    <li>Dönemsel hakediş ve kesintilerinin otomatik üretimi ve yönetim mutabakat onayı oluşturulur</li>
    <li>Vaka, görev, aktivite veri kaynak analizleri ile hizmetlere ait sorun ve iyileşme süreçlerinin yönetimi yapılır</li>
    <li>Hizmet faaliyet raporları ile görünürlük arttırılır</li>
</ul>
</div>   
</div>
</section><!--content-text-wrapper bitti-->

<section class="number-blocks-wrapper">
<h2>Windesk Uygulaması’nın kullanımı ile elde edilebilecek fayda ve maliyet oranları</h2>    
<div class="container">
<div class="number-block block1">
    <h3>Merkezi İşletim Yönetim Etkinliği</h3>
    <ul class="number-item multiple-value">
    <li class="value">50</li>
    <li>+</li>
    <li class="action">(artış)</li>
    </ul>
    <p>Tek bir merkezde plansız hareketlerin kayıt ve izlenmesi</p>
</div><!--number-block bitti-->

<div class="clear"></div>

</div><!--container bitti-->  
</section><!--number-blocks-wrapper bitti-->








<section id="contact-area-wrapper">
<div class="contact-area">  
<div class="row">
<div class="col-md-5 col-sm-3 col-xs-12">
        <div class="contact-telephone">
        <p>Daha fazla bilgi için<br> Windesk ekibiyle letişime geçin</p>
        <a href="tel:+903124912813">0312 <br>491 28 13</a>
        </div>
</div>
<div class="col-md-7 col-sm-9 col-xs-12">
    <div class="widget contact-form">
        <h4 class="widget-head">Bilgi için bizimle iletişime geçin</h4>
        <div class="widget-content">     
        <form id="widget-form" class="widget-form" name="widget-form" action="javascript:void(0);" method="post">
        
        <div class="form-group">
        <label class="widget-form-label" id="name">İsim</label>
        <input name="name" type="text" class="form-control" id="name" tabindex="1" for="name">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="name">Soyisim</label>
            <input name="name" type="text" class="form-control" id="surname" tabindex="2" for="surname">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="telephone">Telefon Numarası</label>
            <input name="telephone" type="text" class="form-control" id="telephone" tabindex="3"  for="telephone">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="name">Şirket İsmi</label>
            <input name="name" type="text" class="form-control" id="companyname" tabindex="4" for="companyname">
        </div>
        
        <div class="form-group">
        <label class="widget-form-label" id="email">Şirket Email:</label>
        <input name="email" type="text" class="form-control" id="companyemail" tabindex="5" for="companyemail">
        </div>

        <p class="contact-subtitle">Windesk Ekibi olarak, sizinle iletişim kurabilmemiz için iletişim bilgilerinizi eksiksiz olarak doldurmanız önemlidir.  Bu abonelikten istediğiniz zaman çıkabilirsiniz. Abonelikten nasıl çıkılacağına ilişkin bilgilerin yanı sıra gizlilik uygulamalarımız ve gizliliğinizi koruma taahhüdümüz için lütfen Gizlilik Politikamızı inceleyin.</p>
        
        <div class="form-group">
        <input name="Button" type="button" class="btn btn-success" tabindex="6" id="submit" value="Gönder">
        </div>
        
        </form>
        
        <div id="com-success-error"></div>
        </div><!--widget-content(contact-form) bitti-->
        </div><!--widget(contact-form) bitti-->    
</div>
</div>
</div> <!--contact-area BİTTİ--> 
</section><!--contact-area-wrapper BİTTİ-->

</section><!--site-content-wrapper bitti-->

<div id="footer-wrapper">
<div id="footer">
<div class="row">
<div class="col-md-4 col-sm-4 hidden-xs">
<h1 class="footer-logo-title"><a href="windesk-platformu.html">windesk platformu</a></h1>
<div class="widget footer-menu">
<div class="widget-content">
    <ul class="widget-list">
    <h4><a href="cozumler.html">Çözümler</a></h4>
    <li><a href="merkezi-servis-masasi.html">Merkezi Servis Masası</a></li>
    <li><a href="performans-tabanli-hizmet-sozlesme-yonetimi.html">Performans Tabanlı Hizmet Sözleşmeleri Yönetimi</a></li>
    <li><a href="bina-operasyonlari-ve-teknik-bakim-yonetimi.html">Bina Operasyonları ve Teknik Bakım Yönetimi</a></li>
    <li><a href="avm-yonetimi.html">AVM Yönetimi</a></li>
    <li><a href="entegre-tesis-yonetimi.html">Entegre Tesis Yönetim Platformu</a>
        <ul>
        <li><a href="alan-yonetimi.html"><i></i>Alan Yönetimi</a></li>
        <li><a href="varlik-yonetimi.html"><i></i>Varlık Yönetimi</a></li>
        <li><a href="bakim-onarim-yonetimi.html"><i></i>Bakım ve Onarım Yönetimi</a></li>
        <li><a href="hizmet-yonetimi.html"><i></i>Hizmet Yönetimi</a></li>
        <li><a href="personel-yonetimi.html"><i></i>Personel Yönetimi</a></li>
        <li><a href="is-emri-yonetimi.html"><i></i>İş Emri Yönetimi</a></li>
        <li><a href="sozlesme-yonetimi.html"><i></i>Sözleşme Yönetimi</a></li>
        <li><a href="depo-malzeme-yonetimi.html"><i></i>Depo - Malzeme Yönetimi</a></li>
        <li><a href="hakedis-yonetimi.html"><i></i>Hakediş Yönetimi</a></li>
        </ul>
    </li>
    </ul><!-- widget-list(footer-menu) BİTTİ-->
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->
</div><!-- KOLON (1. kolon) BİTTİ-->


<div class="col-md-4 col-sm-4 hidden-xs">
<div class="widget footer-menu second-footer-menu">
<div class="widget-content">
    <ul class="widget-list">
    <li><a href="#">Entegre Tesis Yönetim Platformu</a>
    <ul>
    <li><a href="guvenlik-yonetimi.html"><i></i>Güvenlik Yönetimi</a></li>
    <li><a href="denetim-yonetimi.html"><i></i>Denetim Yönetimi</a></li>
    <li><a href="enerji-yonetimi.html"><i></i>Enerji Yönetimi</a></li>
    <li><a href="raporlama.html"><i></i>Raporlama</a></li>
    <li><a href="merkezi-yardim-masasi.html"><i></i>Merkezi Yardım Masası</a></li>
    </ul><!-- widget-list(footer-menu) BİTTİ-->
</li>
</ul>
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->
<div class="widget footer-menu">
    <div class="widget-content">
        <ul class="widget-list">
            <li><a href="yellowfin-bi-platform.html"><i></i>Yellowfin Bl Platform</a></li>
            <li><a href="hazir-entegrasyonlar.html"><i></i>Hazır Entegrasyonlar</a></li>
        </ul><!-- widget-list(footer-menu) BİTTİ-->
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->
<div class="widget footer-menu">
<div class="widget-content">
    <ul class="widget-list">
    <h4><a href="egilimler.html">Eğilimler</a></h4>
  
    </ul><!-- widget-list(footer-menu) BİTTİ-->
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->
<div class="widget footer-menu">
    <div class="widget-content">
    <ul class="widget-list">
        <h4>Son Projeler</h4>
        <li><a href="projeler.html">Galataport Istanbul</a></li>
        <li><a href="projeler.html">Ankara Etlik Şehir Hastanesi</a></li>
        <li><a href="projeler.html">Rönesans Sağlık Hizmetleri</a></li>
        <li><a href="projeler.html">İstanbul Finans Merkezi</a></li>
        <li><a href="projeler.html">Selway Outlet</a></li>
</ul><!-- widget-list(footer-menu) BİTTİ-->
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->
</div><!-- KOLON (2. kolon) BİTTİ-->

<div class="col-md-4 col-sm-4 col-xs-12">


<div class="widget footer-menu">
<div class="widget-content">
<ul class="widget-list">
<h4>Bizi Tanıyın</h4>
<li><a href="hakkimizda.html">Hakkımızda</a></li>
<li><a href="haberler-ve-duyurular.html">Haberler ve Duyurular</a></li>
<li><a href="kariyer.html">Signumtte’de Kariyer</a></li>
</ul><!-- widget-list(footer-menu) BİTTİ-->
</div><!-- widget-content(footer-menu) BİTTİ-->
</div><!-- widget(footer-menu) BİTTİ-->

<div class="widget footer-menu">
    <div class="widget-content">
    <ul class="widget-list">    
    <li><a href="kalite-politikamiz.html">Kalite Politikamız</a></li>
    <li><a href="bilgi-guvenligi-politikamiz.html">Bilgi Güvenliği Politikamız</a></li>
    </ul><!-- widget-list(footer-menu) BİTTİ-->
    </div><!-- widget-content(footer-menu) BİTTİ-->
    </div><!-- widget(footer-menu) BİTTİ-->

<div class="widget footer-contact-area">
<div class="widget-content">
<a class="footer-sub-logo" href="hakkimizda.html"><img src="images/signum-footer-logo.png" alt="Signum Creative"></a>
<ul class="widget-list">
<li><span><address>Üniversiteler Mahallesi 1596 Cadde 5. AR-Ge Binası No: 8B Kat: 3 / 12 Beytepe 06800 Çankaya / Ankara</address></span></li>
<li><span><strong>0312 491 28 13</strong></span></li>
</ul>
</div><!--widget-content(footer-contact-area) bitti-->
</div><!--widget(footer-contact-area) bitti-->    


<div class="widget footer-social">
<div class="widget-content">
<div class="social-wrap">
<a class="icon32-linkedin" href="https://www.linkedin.com/company/1173333" target="_blank" title="Linkedin'de Takip Et"></a>
<a class="icon32-instagram" href="#" target="_blank" title="Instagram'da Takip Et"></a>

<div class="clear"></div>
</div>

</div><!-- widget-content(footer-social) BİTTİ-->
</div><!-- widget(footer-social) BİTTİ-->
</div><!-- KOLON (3. kolon) BİTTİ-->

</div><!-- ROW (footer kapsayan) BİTTİ-->
</div><!-- footer BİTTİ-->
</div><!-- footer-wrapper BİTTİ-->

<div id="footer-bottom">
<p><strong>Signumtte 2022.</strong> Tüm hakkı saklıdır.<strong>USERAPP tarafından tasarlanmıştır</strong></p>
</div><!-- footer-bottom-wrapper BİTTİ-->


    <script type="application/javascript" src="js/swiper.js"></script>
    <script type="application/javascript" src="js/jquery-min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="application/javascript" src="js/lazyloadxt.js"></script>
    <script type="application/javascript" src="js/jquery.cookie.js"></script>
    <script src="js/alljs.js"></script>

</body>

</html>