{% extends 'signum/base.html' %}
{%load static%}

{% block content %} 

<section id="site-content-wrapper">

<section id="top-content-wrapper">
<div class="top-content-type2">
    <img class="main-image" src="{%static 'images/alan-yonetimi-main-image.jpg'%}" alt="Varlık Yönetimi">
    <div class="title-wrapper">
        <div class="container">
            <p>Çözümler<br><strong>Varlık Yönetimi</strong></p>
        </div>
    </div>
</div>
</section><!--top-content-wrapper bitti-->

<section class="text-image-blocks-wrapper">

    <section class="block-area left-text">
        <div class="mask-animation wipe-in-left ken-burns">
        <img class="block-area-image" src="{%static 'images/varlik-yonetimi-content.jpg'%}" alt="Varlık Yönetimi">
        </div>
        <div class="text-image-block-area">
            <h2>Varlık Yönetimi Çözümü</h2>
            <ul>
                <li>Bina sistemleri, elektrik, mekanik, iklemlendirme</li>
                <li>Mefruşat</li>
                <li>Tıbbi Cihazlar</li> 
            </ul> 
            <p>Varlıkların; envanter kabulden operasyonel kullanıma alınması, yeniden kullanımı ve elden çıkarmaya kadar tüm operasyonel yaşam döngüleri boyunca kullanımları takip edilir ve varlıklara ait 360 derece operasyonel hareketler kayıt altına alınır. Mülkler, binalar, bina kat planları, arazi, bina sistemlerine ait ekipman ve mefruşatlar dahil olmak üzere tüm varlıkların ilişkisel görünümü sağlanır. Varlıklar, aktif ve pasif RFID iletişim alt yapısı üzerinden etiket verileri ile sistem entegre çalışır.</p>
        </div>
        <div class="bothclear"></div>
    </section>

    
</section><!--text-image-blocks-wrapper bitti-->

<section class="number-blocks-wrapper">
<h2>Windesk Uygulaması’nın kullanımı ile elde edilebilecek fayda ve maliyet oranları</h2>    
<div class="container">
<div class="number-block block1">
    <h3>Varlık Yaşam Ömür Süresi</h3>
    <ul class="number-item multiple-value">
    <li class="value">10</li>
    <li>-</li>
    <li class="value">25</li>
    <li class="action">(artış)</li>
    </ul>
    <p> Planlı ve koruyucu, proaktif bakımı</p>
</div><!--number-block bitti-->

<div class="number-block block2">
    <h3>Enerji Optimizasyonu</h3>
    <ul class="number-item single-value">
        <li class="value">25</li>
    <li class="action">(düşüş)</li>
    </ul>
    <p>Bakım planları, saha teknik personel mobilite uygulaması, malzeme, vb unsurlar ile servis kesinti süresini düşürmek  </p>
</div><!--number-block bitti-->

<div class="clear"></div>

</div><!--container bitti-->  
</section><!--number-blocks-wrapper bitti-->

<section id="contact-area-wrapper">
<div class="contact-area">  
<div class="row">
<div class="col-md-5 col-sm-3 col-xs-12">
        <div class="contact-telephone">
        <p>Daha fazla bilgi için<br> Windesk ekibiyle letişime geçin</p>
        <a href="tel:+903124912813">0312 <br>491 28 13</a>
        </div>
</div>
<div class="col-md-7 col-sm-9 col-xs-12">
    <div class="widget contact-form">
        <h4 class="widget-head">Bilgi için bizimle iletişime geçin</h4>
        <div class="widget-content">     
        <form id="widget-form" class="widget-form" name="widget-form" action="javascript:void(0);" method="post">
        
        <div class="form-group">
        <label class="widget-form-label" id="name">İsim</label>
        <input name="name" type="text" class="form-control" id="name" tabindex="1" for="name">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="name">Soyisim</label>
            <input name="name" type="text" class="form-control" id="surname" tabindex="2" for="surname">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="telephone">Telefon Numarası</label>
            <input name="telephone" type="text" class="form-control" id="telephone" tabindex="3"  for="telephone">
        </div>

        <div class="form-group">
            <label class="widget-form-label" id="name">Şirket İsmi</label>
            <input name="name" type="text" class="form-control" id="companyname" tabindex="4" for="companyname">
        </div>
        
        <div class="form-group">
        <label class="widget-form-label" id="email">Şirket Email:</label>
        <input name="email" type="text" class="form-control" id="companyemail" tabindex="5" for="companyemail">
        </div>

        <p class="contact-subtitle">Windesk Ekibi olarak, sizinle iletişim kurabilmemiz için iletişim bilgilerinizi eksiksiz olarak doldurmanız önemlidir.  Bu abonelikten istediğiniz zaman çıkabilirsiniz. Abonelikten nasıl çıkılacağına ilişkin bilgilerin yanı sıra gizlilik uygulamalarımız ve gizliliğinizi koruma taahhüdümüz için lütfen Gizlilik Politikamızı inceleyin.</p>
        
        <div class="form-group">
        <input name="Button" type="button" class="btn btn-success" tabindex="6" id="submit" value="Gönder">
        </div>
        
        </form>
        
        <div id="com-success-error"></div>
        </div><!--widget-content(contact-form) bitti-->
        </div><!--widget(contact-form) bitti-->    
</div>
</div>
</div> <!--contact-area BİTTİ--> 
</section><!--contact-area-wrapper BİTTİ-->

</section><!--site-content-wrapper bitti-->
    
{% endblock %}   
