.work-summary-texts-wrapper {
    background-color: #F4F4F4;
    font-family: $fregular;
    .work-summary {
        margin-right: auto;
        margin-left: auto;
        position: $p1;
        img {
            width: 100%;
            max-width: 780px;
        }
        .work-summary-text-area {
            background-color: white;
            padding: 20px;
            max-width: 580px;
        }
    }
}
@media (min-width: 1500px) {
    .work-summary-texts-wrapper {
        .work-summary {
            width: 60%;
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .work-summary-texts-wrapper {
        .work-summary {
            width: 90%;
        }
    }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .work-summary-texts-wrapper {
        
        .work-summary {
            width: 90%;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            .work-summary-text-area {
                h2 {
                    font-size: 18px;
                    padding-bottom: 20px;
                    line-height: 30px;
                }
                p {
                    font-size: 16px !important;
                    line-height: 28px;
                }
            }
        }
    }
    .left-text {
        .work-summary-text-area {
            top: 160px !important;
        }
    }
    .right-text {
        .work-summary-text-area {
            top: 160px !important;
        }
    }
}
@media (max-width: 959px) {
    .work-summary-texts-wrapper {
        
        .work-summary {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            .work-summary-text-area {
                max-width: 100%;
                // position: absolute;
                // top: 30%;
                background-color: rgba(255, 255, 255,0.9);
                h2 {
                    font-size: 18px;
                    padding-bottom: 20px;
                    line-height: 24px;
                }
                p {
                    font-size: 16px !important;
                    line-height: 28px;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
}
@media (min-width: 960px) {
    .right-text {
        position: relative;
        height: 100%;
        img {
            z-index: 0;
            display: block;
            float: left;
        }
        .work-summary-text-area {
            position: $p2;
            top: 120px;
            right: 0px;
            z-index: 1;
            width: 100%;
           
        }
    }
    .left-text {
        position: relative;
        height: 100%;
        img {
            z-index: 0;
            display: block;
            float:right;
        }
        .work-summary-text-area {
            left: 0px;
            z-index: 1;
            width: 100%;
            position: $p2;
            top: 120px;
        }
    }
    .work-summary-texts-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    .work-summary {
        padding-top: 50px;
        padding-bottom: 50px;
        .work-summary-text-area {
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    }
}





@media (min-width: 960px) {

.mask-animation {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}
.mask-animation img {
    display: block;
}

// wipe-in-up
.mask-animation.wipe-in-up {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
}
.mask-animation.wipe-in-up.active, .active > .mask-animation.wipe-in-up {
    animation: wipe-in-up 1s ease .25s forwards;
}
// wipe-out-up
.mask-animation.wipe-out-up {
    clip-path: inset(0);
    -webkit-clip-path: inset(0);
}
.mask-animation.wipe-out-up.active, .active > .mask-animation.wipe-out-up {
    animation: wipe-out-up 1s ease .25s forwards;
}
// wipe-in-right
.mask-animation.wipe-in-right {
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
}
.mask-animation.wipe-in-right.active, .active > .mask-animation.wipe-in-right {
    animation: wipe-in-right 1s ease .25s forwards;
}
// wipe-out-right
.mask-animation.wipe-out-right {
    clip-path: inset(0);
    -webkit-clip-path: inset(0);
}
.mask-animation.wipe-out-right.active, .active > .mask-animation.wipe-out-right {
    animation: wipe-out-right 1s ease .25s forwards;
}
// wipe-in-down
.mask-animation.wipe-in-down {
    clip-path: inset(0 0 100% 0);
    -webkit-clip-path: inset(0 0 100% 0);
}
.mask-animation.wipe-in-down.active, .active > .mask-animation.wipe-in-down {
    animation: wipe-in-down 1s ease .25s forwards;
}
// wipe-out-down
.mask-animation.wipe-out-down {
    clip-path: inset(0);
    -webkit-clip-path: inset(0);
}
.mask-animation.wipe-out-down.active, .active > .mask-animation.wipe-out-down {
    animation: wipe-out-down 1s ease .25s forwards;
}
// wipe-in-left
.mask-animation.wipe-in-left {
    clip-path: inset(0 0 0 100%);
    -webkit-clip-path: inset(0 0 0 100%);
}
.mask-animation.wipe-in-left.active, .active > .mask-animation.wipe-in-left {
    animation: wipe-in-left 1s ease .25s forwards;
}
// wipe-out-left
.mask-animation.wipe-out-left {
    clip-path: inset(0);
    -webkit-clip-path: inset(0);
}
.mask-animation.wipe-out-left.active, .active > .mask-animation.wipe-out-left {
    animation: wipe-out-left 1s ease .25s forwards;
}
// ken-burns
.mask-animation.ken-burns img {
    transform: scale(1.1);
}
.active .mask-animation.ken-burns img, .active > .mask-animation.ken-burns img{
    animation: ken 2s ease forwards;
}
// lazyloaded
.lazyloaded {
    transition: opacity .25s;
}
}